@model IEnumerable<WebApplication2.Models.DModel>

@{
    ViewBag.Title = "Index";
}
<style>
     #busket-form{
        background-color:#f2f2f2;
        height:510px;
        border:1px solid;  
        padding-left:200px;
        padding-top:50px;    
    }
     .table th , td{ 
         width:150px;
         text-align :center;
    }
     #buy-form{
         float:right;
         position:absolute;
         margin-top:-510px;
         margin-left:870px;
     }
     #buy-form span{
         font-size:30px;
         color: hsl(80, 70%, 55%);
         text-shadow: -1px -1px 0 hsl(80, 70%, 35%),
             -2px -2px 1px hsl(80, 70%, 35%);
     }
</style>

<div id="header-wrapper">
    <header id="header" class="5grid-layout">
        <div class="row">
            <div class="12u">
                <!-- Logo -->
                <h1><a href="#" class="mobileUI-site-name">3D Madness</a></h1>
                <p>Our 3d models are the best</p>
                <!-- Nav -->
                <nav class="mobileUI-site-nav">
                    @Html.ActionLink("Головна", "Index", "Home")
                    <a href="threecolumn.html">Three Column</a>
                    <a href="twocolumn1.html">Two Column #1</a>
                    <a href="onecolumn.html">One Column</a>
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
        </div>
    </header>
</div>

<div id="busket-form">
    <table class="table">
        <tr>
            <th>              
            </th>
            <th>
                <p>Назва</p>
            </th>
            <th>
                <p>Ціна</p>
            </th>
            <th></th>
        </tr>
        @{ 
            var counter = 0;
        }
        
        @foreach (var item in Model)
        {
            var price = Convert.ToInt32(item.Price.Split('$').First());
            counter += price;
            <tr>
                <td>
                    <img src=@item.Url style="height:120px; width:120px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>              
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Деталі", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Видалити", "Delete" , new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<div id="buy-form">
    <span>
        Загальна сума:
    </span>
    <span>
        @counter$
    </span>
</div>

<div class="5grid-layout">
    <div id="copyright">
        <section>
            <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotograph.com/">Fotogrph</a> | Design: <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
        </section>
    </div>
</div>