@using WebApplication2.Models
@model IEnumerable<DModel>
@{
    ViewBag.Title = "Home Page";
}
<div id="header-wrapper">
    <header id="header" class="5grid-layout">
        <div class="row">
            <div class="12u">
                <!-- Logo -->
                <h1><a href="#" class="mobileUI-site-name">3D Madness</a></h1>
                <p>Our 3d models are the best</p>
                <!-- Nav -->
                <nav class="mobileUI-site-nav">
                    @Html.ActionLink("Homepage", "Index", "Home", new { @class = "active" })
                    <a href="threecolumn.html">Three Column</a>
                    <a href="twocolumn1.html">Two Column #1</a>
                    <a href="onecolumn.html">One Column</a>
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
        </div>
    </header>
</div>
<div id="wrapper">
        <div class="5grid-layout">
            <div class="row">
                <div class="12u" id="banner">
                    <section><a href="#"><img src="~/Images/pics01.jpg" alt=""></a></section>
                </div>
            </div>

            <div id="feature-content">
                <section>
                    <h2>Новинки</h2>
                </section>
                <div class="row">
                    <div class="12u">
                        <div class="row">
                            @foreach (var m in Model)
                            {
                                <div class="3u">
                                    <section style="text-align:center">
                                        <div>
                                            <div class="image-style1"><a href="#"><img src=@m.Url alt=""></a></div>
                                            <div><a href="#"><img src="~/Images/img02.png" width="262" height="30" alt=""></a></div>
                                        </div>
                                        <p style="margin-top:-5px; font-size:20px; position:relative">@m.Name. @m.Style. @m.Color. @m.Description.</p>
                                        <p class="button"><a href="#">Детальніше</a></p>
                                    </section>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="12u">
                    <div class="row">
                        <div id="splash"> <span>CGWorkr : </span> Кастомні 3D послуги </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="12u" id="gallery">
                    <div class="row">
                        <div class="4u">
                            <section>
                                <div style="text-align:center">
                                    <div class="image-style1"><a href="#"><img src="~/Images/modeling.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="~/Images/img02.png" width="262" height="30" alt=""></a></div>
                                    <p>Кастомне 3D моделювання</p>
                                </div>
                            </section>
                        </div>
                        <div class="4u">
                            <section>
                                <div style="text-align:center">
                                    <div class="image-style1"><a href="#"><img src="~/Images/visualization.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="~/Images/img02.png" width="262" height="30" alt=""></a></div>
                                    <p>Кастомний 3D рендерінг</p>
                                </div>
                            </section>
                        </div>
                        <div class="4u">
                            <section>
                                <div style="text-align:center">
                                    <div class="image-style1"><a href="#"><img src="~/Images/animation.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="~/Images/img02.png" width="262" height="30" alt=""></a></div>
                                    <p>Кастомна 3D анімація</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="5grid-layout">
    <div id="copyright">
        <section>
            <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design: <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
        </section>
    </div>
</div>
